<!-- templates/registration/password_reset_confirm.html -->
{% extends 'base.html' %}
{% load i18n %}

<!-- for using trans -->
{% load i18n %}

{% block title %}{% trans 'Enter new password' %}{% endblock %}

{% block content %}

{% if validlink %}

<h1>{% trans 'Set a new password!' %}</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="{% trans 'Change my password' %}">
</form>

{% else %}

<p>
  {% blocktrans %}
  The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.
  {% endblocktrans %}
</p>

{% endif %}
{% endblock %}
