{% extends 'adminapp/adminbase.html' %}

{# % block header %}

<!--
<div class="header">
  <h1>Fair Queues</h1>
</div>
-->

{# % endblock header %}

{# % block alerts %}
<!-- just remove default content -->
{# % endblock alerts %}

{% comment %}
<!-- put comments here -->
{% endcomment %}

{% block content %}
<!-- TODO put search engine and results, paginate -->
    <div class="col-9 col-s-12"  style="background:orange;">
      <h1>The Purpose</h1>
      <p>xxx xxx.</p>
    </div>
{% endblock content %}


{% block lateral %}
<!-- just remove default content -->
{% endblock lateral %}
