{% extends 'adminapp/adminbase.html' %}

{% block content %}
<div class="col-9 col-s-12"  style="background:lavender;">
    <form action="{% url 'adminapp:createresourcedo' %}" method="post">
        {% csrf_token %}
        <table class="as_table">
          {{ form.as_table }}
        </table>
        <input type="submit" value="Create">
        <input type="reset" value="Clear fields">
    </form>
</div>
{% endblock content %}


{% block lateral %}
<!-- just remove default content -->
{% endblock lateral %}