{% extends 'adminapp/adminbase.html' %}

{% comment %}
<!-- put comments here -->
{% endcomment %}

{% block content %}
<!-- TODO put search engine and results, paginate -->
<div class="col-9 col-s-9"  style="background:grey;">
    <form action="{% url 'adminapp:searchresources' %}" method="post">
        {% csrf_token %}
        <label for="rscname">Name:</label>
        <input type="text" id="rscname" name="rscname" placeholder="Resource name">
        <label for="rscdesc">Description:</label>
        <input type="text" id="rscdesc" name="rscdesc" placeholder="Resource description">
        <input type="submit" value="Search">
    </form>
</div>
{% endblock content %}


{% block lateral %}
<!-- just remove default content -->
{% endblock lateral %}


