{% extends 'adminapp/adminbase.html' %}
{% load i18n %}

{% block content %}
<div class="col-9 col-s-12"  style="background:lavender;">
    <form action="{% url 'adminapp:resource' rsc.id %}" method="post">
        {% csrf_token %}
        <table class="as_table">
            {{ form.as_table }}
            <tfoot>
            <tr>
                <td/>
                <td style="text-align:left;" >
                    <input type="submit" value="{% trans 'Save' %}">
                </td>
            </tr>
            </tfoot>
        </table>
    </form>
</div>


{% endblock content %}

{% block lateral %}
<!-- just remove default content -->
{% endblock lateral %}

