{% extends 'adminapp/adminbase.html' %}

{% block content %}
<div class="col-9 col-s-12"  style="background:lavender;">
    <form action="{% url 'adminapp:searchresourcesdo' %}" method="get">
        <table class="as_table">
            {{ form.as_table }}
            <tfoot>
            <tr>
                <td/>
                <td style="text-align:left;" >
                    <input type="submit" value="Search">
                    <input type="reset" value="Clear fields">
                    <input type="submit" value="New resource" formmethod="get" formaction="{% url 'adminapp:createresource' %}">
                </td>
            </tr>
            </tfoot>
        </table>
    </form>
</div>

<!-- {{ req_dict }} -->

<table class="col-9 col-s-12"  style="background:lightgrey;">
    <thead>
    <tr><th> name </th> <th> description </th> <th> text_title </th> <th> calendar </th><th> </th></tr>
    </thead>
    <tbody>
    {% for record in page_obj  %}
    <tr>
        <td><a href="{% url 'adminapp:resource' record.id %}"  title="Read">{{ record.name }}</a></td>
        <td>{{ record.description }}</td>
        <td>{{ record.text_title }}</td>
        <td>{{ record.calendar }}</td>
        <td><a href="{% url 'adminapp:resource' record.id %}"><span> <i class="far fa-eye" title="Read"></i></span></a>
            <a href="{% url 'adminapp:resource' record.id %}"><span> <i class="fas fa-pencil-alt" title="Edit"></i></span></a>
            <a href="{% url 'adminapp:deleteresource' record.id %}"><span> <i class="far fa-trash-alt" title="Delete"></i></span></a></td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td style="text-align:center;" colspan="5">
            <!-- <div class="pagination" style="align:center;">
                <span class="step-links"> -->
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
            <!--     </span>
            </div> -->
        </td>
    </tr>
    </tfoot>
</table>


{% endblock content %}


{% block lateral %}
<!-- just remove default content -->
{% endblock lateral %}