{% extends 'adminapp/adminbase.html' %}
{% load i18n %}

{% block alerts %}
<!-- just remove default content -->
{% endblock alerts %}


{% block resultmessage %}
{% if resultmessage != '' %}
<div class="col-9 col-s-12 resultmessage">
    <p>{{ resultmessage }}</p>
</div>
{% endif %}
{% endblock resultmessage %}

{% block content %}
<div class="col-9 col-s-12"  style="background:lavender;">
    <form id="gaga" action="{% url 'adminapp:searchdaysoffsdo' %}" method="get">
        <!--        {# % csrf_token %} -->
        <table class="as_table">
            {{ form.as_table }}
            <tfoot>
            <tr>
                <td/>
                <td style="text-align:left;" >
                    <input type="submit" value="{% trans 'Search' %}">
                    <input type="reset" value="{% trans 'Clear fields' %}">
                    {% if perms.adminapp.add_daysoff %}
                    <input type="submit" value="{% trans 'New working time' %}" formmethod="get" formaction="{% url 'adminapp:createdaysoff' %}">
                    {% endif %}
                </td>
            </tr>
            </tfoot>
        </table>
    </form>
</div>
{% endblock content %}


{% block lateral %}
<!-- just remove default content -->
{% endblock lateral %}