{% extends 'adminapp/adminbase.html' %}
{% load i18n %}

{% block alerts %}
<!-- just remove default content -->
{% endblock alerts %}

{% block resultmessage %}
{% if resultmessage != '' %}
<div class="col-9 col-s-12 resultmessage">
    <p>{{ resultmessage }}</p>
</div>
{% endif %}
{% endblock resultmessage %}

{% block content %}
<div class="col-9 col-s-12"  style="background:lavender;">
    <form action="{% url 'adminapp:workingtime' rsc.id %}" method="post">
        {% csrf_token %}
        {% if readonly == 'readonly' %}
        <fieldset disabled="disabled" >
        {% endif %}
        <table class="as_table">
            {{ form.as_table }}
            <tfoot>
            <tr>
                <td/>
                <td style="text-align:left;" >
                    {% if perms.adminapp.change_workingtime %}
                    <input type="submit" value="{% trans 'Save' %}">
                    {% endif %}
                </td>
            </tr>
            </tfoot>
        </table>
            {% if readonly == 'readonly' %}
        </fieldset>
        {% endif %}
    </form>
</div>


{% endblock content %}

{% block lateral %}
<!-- just remove default content -->
{% endblock lateral %}

