* {
  box-sizing: border-box;
}
.row{
    width: 100%;
    min-height: 3px;
    margin: 0 auto;
    /* display: -webkit-flex;  Safari */
    /* display: flex;  Standard syntax */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;

}

body {
  font-size: 100%;
}

.header {
  background-color: #5533cc;
  color: #ffffff;
  padding: 1px;
  margin: 0px;
  text-align: center;
  height: auto;
}

.header h1 {
display: inline-block;
  font-size: 1.5em;
}

.alerter {
  background-color: #dddddd;
  color: #000000;
  padding: 2px 15px;
  margin: 0px;
  #text-align: center;
  height: auto;
  font-size: 12px;
}

.alerter p {
  margin: 0;
  padding: 0;
  position: relative;
  animation-name: textenter;
  animation-duration: 6s;
}

@keyframes textenter {
  from {left: 100%;}
  to {left: 0%;}
}

.resultmessage {
  background-color: #bbddbb;
  color: #000000;
  padding: 2px 15px;
  margin: 0px;
  #text-align: center;
  height: auto;
  font-size: 14px;
  opacity: 0;
  animation-name: dialogdisappear;
  animation-duration: 10s;
  /* animation-delay: 1s; */
}

.resultmessage p {
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
}

@keyframes dialogdisappear {
 /* from {opacity: 1;}
  to {opacity: 0;} */
 /* from {visibility: visible;}
  to {visibility: hidden;}*/
/*  from {display: block;}
  to {display: none;}*/
  0%   {opacity: 0;}
  10%  {opacity: 1;}
  85%  {opacity: 1;}
  100% {opacity: 0;}
}

.menu  {

}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  #display: inline;
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
}

.menu li.active {
  background-color: #0000cc;
}

.menu li.active:hover {
  background-color: #0000cc;
}

.menu li:hover {
  background-color: #0099cc;
}

.menu a  {
  text-decoration: none;
  color: black;
  display: block;
}

.menu a.active  {
  text-decoration: none;
  color: white;
    font-weight: bold;
  display: block;
}

.aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
  padding-left: 0;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .menu li {display: inline;}
  .menu a {display: inline;}
  .menu li.active:hover {background-color: #0000cc;}
  .menu a.active {display: inline;}

  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
   .menu li {display: block;}
   .menu a {display: block;}
   .menu li.active:hover {background-color: #0000cc;}
   .menu a.active {display: block;}

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}


.dropbtn {
  background-color: #5533cc /*4CAF50*/;
  color: white;
  padding: 1.1em;
  font-size: 1em;
  border: none;
  cursor: pointer;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 0px;
  margin: 0px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  white-space: nowrap;
}

.dropdown-content a:hover {background-color: #a1a1a1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #220099;
}

.as_table {
}

.as_table  label {
  float: right;
}
.as_table  ul {
  list-style-type: none;
  padding: 1px;
  margin: 1px;
}
.as_table  ul li{
  display: inline;
}

.as_table  ul li label {
  float: left;
  margin-bottom: 9px;
